<div class="span4 offset3">
  <h2 class="form-signin-heading">重置密码</h2>
  <%= alert_message devise_error_messages! %>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => 'put'}) do |f| %>
    <%= f.password_field :password, :class => 'input-block-level',
      :placeholder => '新密码'
    %>
    <%= f.password_field :password_confirmation, :class => 'input-block-level',
      :placeholder => '新密码确认'
    %>
    <%= f.hidden_field :reset_password_token %>
    <div><%= f.submit "提交", :class => 'btn btn-primary' %></div>
  <% end %>
</div>
