<!DOCTYPE html>
<html>
<head>
  <title>中国故事</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to '中国故事', {:controller => 'home'}, :class => 'brand' %>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><%= link_to '春秋战国'%></li>
            <li><%= link_to '秦汉'%></li>
            <li><%= link_to '三国' %></li>
            <li><%= link_to '魏晋南北朝'%></li>
            <li><%= link_to '隋唐' %></li>
            <li><%= link_to '五代十国' %></li>
            <li><%= link_to '宋元明清'%></li>
            <li><%= link_to '其他'%></li>
          </ul>
          <ul class="nav pull-right">
            <li><%= link_to '登录' %></li>
            <li><%= link_to '注册' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container"><%= yield %></div>
  <%= javascript_include_tag "application" %>
</body>
</html>
