<!DOCTYPE html>
<html>
<head>
  <title>中国故事</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to '中国故事', {:controller => '/home'}, :class => 'brand' %>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <%= dynasty_menu %>
            <%= menu '其他', 'nav_menu',
              [
                link_to('中国历代纪元表', :controller => '/eras'),
                link_to(
                  '中国历代帝王表', :controller => '/eras',
                  :action => 'kings'
                )
              ]
            %>
          </ul>
          <ul class="nav pull-right">
            <% if user_signed_in? %>
              <%=
                menu current_user.user_name, 'user_menu',
                [
                  link_to('个人资料', edit_user_registration_path),
                  link_to('退出', destroy_user_session_path)
                ]
              %>
            <% else %>
              <% if request.path == new_user_session_path %>
                <li class="active">
                  <%= link_to '登录', new_user_session_path %>
                </li>
              <% else %>
                <li><%= link_to '登录', new_user_session_path %></li>
              <% end %>
              <% if request.path == new_user_registration_path or
                   (request.path == '/users' and devise_error_messages!)
              %>
                <li class="active">
                  <%= link_to '注册', new_user_registration_path %>
                </li>
              <% else %>
                <li><%= link_to '注册', new_user_registration_path %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <%= alert_message flash[:notice], 'alert-success'%>
    <%= yield %>
  </div>
  <%= javascript_include_tag 'application' %>
  <%= yield :javascript %>
</body>
</html>
